
body {
  background-color: #6C9AAD;
}
/*照片輪播*/
.wrapper{
    position: relative;
    top: 10px;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: 5px;
    display: none;
  }
  .wrapper i:last-child{
    right: 5px;
  }
  .wrapper .carousel{
    margin-top: 78px;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
  }
  
  .carousel img:first-child{
    margin-left: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }

table {
    background-color: #DAE6EB;
    margin-top: 1%;
    text-align: center;
    width: 60%;
}
table tr , td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
table thead {
    color: white;
    background-color: #4B6973;
}
table a:link{
    text-decoration:none;
    color: #29465a;
}
table a:visited {
    color: #29465a;
}
.news {
  margin-top: 2%;
  margin-left: 2%;
  width: 30%;
  background-color: #DAE6EB;
  float: left;
}
.news h3{
  text-align: center;
}

.news a:link{
  text-decoration:none;
  color: #29465a;
}
.news a:visited {
  color: #29465a;
}
.chart {
  margin-top: 2%;
  margin-left: 3%;
  width: 30%;
  background-color: #DAE6EB;
  float: left;
}
.chart h3{
  text-align: center;
}
.chart a:link{
  text-decoration:none;
  color: #29465a;
}
.chart a:visited {
  color: #29465a;
}
.bd {
  margin-top: 2%;
  margin-left: 3%;
  width: 30%;
  background-color: #DAE6EB;
  float: left;
}
.bd h3{
  text-align: center;
}
.bd a:link{
  text-decoration:none;
  color: #29465a;
}
.bd a:visited {
  color: #29465a;
}
.bd table {
  width: 100%;
}
#text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: fit-content;
  text-align: center;
  background-color: black;
}