body {
    background-color: #6C9AAD;
}
/*登入表格*/
.loginform {
    margin: 80px auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
    height: 400px;
	border-radius: 10px;
	padding: 12px;
    background-color: #DAE6EB;
}

.loginform h2 {
    text-align: center;
    color: black;
}

label {
    font-size: 10px;
    color: black;
    padding: 3px 40px;
}
/*輸入欄*/
input {
    width: 80%;
    margin: auto;
    padding: 12px 20px;
    border: 2px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
nav .loginform button {
    width: 40%;
    margin: auto;
    padding: 12px 20px;
    background-color: #6C9AAD;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.loginform button:hover {
    background-color: #6C9AAD;
    color: white;
}

.loginform p {
    text-align: center;
}

input[type=button] {
    width: 40%;
    margin: auto;
    padding: 12px 20px;
    background-color: #6C9AAD;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

input[type=button]:hover {
    background-color: #6C9AAD;
    color: white;
}
