body {
    color: white;
}
.main {
    width: 60%;
    margin: 90px 0px;
    
}

.wrapper {
    width: 100%;
    margin-top: -13%;
    margin-left: 36px;
}
.profile {
    padding: 15px 42px;
}
.profile p {
    font-size: 35px;
}
.info p {
    font-size: 20px;
}
.other {
    position: absolute;
    left: 70%;
    top: 99px;
    
}

.other input {
    background-color: white;
}

.other i {
    color: black;
    background-color: white;
}
.back {
    margin-top: 8.5%;
    margin-left: 3%;
}
.back a {
    width: 32px;
    height: 32px;
    display: block;
}
.back i {
    color: white;
}