body {
    background-color: #344055;
}
/*登入表格*/
.regisform {
    margin: 50px auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	border-radius: 10px;
	padding: 12px;
    background-color: white;
}

.regisform h2 {
    text-align: center;
    color: black;
}

label {
    font-size: 10px;
    color: black;
    padding: 3px 40px;
}
/*輸入欄*/
input {
    width: 80%;
    margin: auto;
    padding: 12px 20px;
    border: 2px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 80%;
    margin: auto;
    padding: 12px 20px;
    background-color: #344055;
    color: white;
    border-radius: 4px;
}

button a:visited, a {
    text-align: center;
    color: white;
    text-decoration: none;
}


.regisform p {
    text-align: center;
}