body {
  
}
#HEADER { /*選單*/
  overflow: hidden;
  background-color: #333;
  margin:0 auto;
}
#HEADER a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#HEADER .subnav {
  float: left;
  overflow: hidden;
}
#HEADER .subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
#HEADER a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}
  
/* Style the subnav content - positioned absolute */
#HEADER  .subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}
/* Style the subnav links */
#HEADER  .subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
/* Add a grey background color on hover */
#HEADER .subnav-content a:hover {
  background-color: #eee;
  color: black;
}
  
/* When you move the mouse over the subnav container, open the subnav content */
#HEADER .subnav:hover .subnav-content {
  display: block;
}
#WRAPPER {
  margin:0 auto;
  /*width:880px;*/
  padding:0 10px;
  overflow:hidden; /* 當內部有 <div> 使用 float 的時候，父層的 <div> 高度會壞掉 */
                     /* 使用 overflow:hidden; 是最簡單破解這個問題的方法 */
}
 
#SIDE {
  width:50%;  /*<div> 要設定寬度，才能配合 float 做水平靠左或靠右排列 */
  float:left; /* 使用 float 讓這個 <div> 做水平靠左排列 */
  background-color: #bbdcff;
}
 
#CONTENT {
  width:auto;  /*設定 auto 就會自動伸縮，這是 <div> 的預設值，所以可以省略不寫 */
  /*margin-left:170px;  上面的 #SIDE <div> 寬度是 170px */
                           /* 這個 #CONTENT 設定左間距可以避免多出來的內容文字和上面的 <div> 重疊 */
  background-color: #bbdcff;   
  float: right;                    
}
 
#FOOTER {
  clear:both; /* 當上方的內容使用 float 時，下方的 <div> 會產生重疊上去的問題 */
                /* 寫 clear:both; 解除浮動就可以解決這個問題 */
  margin:0 auto;
  width:900px;
  height:121px;
}
.button {
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  top: 15%;
  left: 33%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

.form-container .button {
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}